.content {
    width: 100%;
    background: #fff;
    margin-top: 50px;
    border-radius: 6px;
    padding: 30px;
    opacity: .9;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label {
    font-size: 16px;
    color: rgb(121, 121, 121);
    font-weight: bold;
    margin-bottom: 5px;
}

.content form input {
    margin-bottom: 20px;
    border: 1px solid rgb(170, 68, 0);
    border-radius: 6px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.content form input:hover {
    border: 2px solid rgb(107, 43, 0);
}


.content button.btn-account {
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
    background: #fff;
    opacity: 1;
    color: #000;
    cursor: pointer;
}

.content button.btn {
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    background: rgb(170, 68, 0);
    opacity: 1;
    color: #fff;
    cursor: pointer;
    margin-top: 8px
}

.content button.btn:hover {
    background: rgb(107, 43, 0);
}

.content button.btn-cancel {
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    background: #FE0101;
    opacity: 1;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
}

.content button.btn-cancel:hover {
    background: #E80101;
}